body{
    margin: 0;
    border:5px solid red;
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 100px;
    
}
main{
    display: block; 
}
.aside{
    border: 3px solid green;
}
.lista{
    border: 3px solid blue;
}
.lista_contacto{
    border: 3px solid yellow;
    
}
.lista_contacto article{
    border: 2px solid #18F0BB;
    height: 50px;
}

.main{
    border: 3px solid #9717A2;
}
.cabezera{
    border: 3px solid blue;
}
.mensajes{
    border: 3px solid #18F0BB;
}
.aqui{
    border: 3px solid #848384;
    height: 300px;
}
.texto{
    border: 3px solid #2A824A;
}

input{
    width: 785px;
}